body{
    background-color: rgb(36, 185, 223);
    background-image: url();
    font-family:Arial, sans-serif;
    font-size:  20px;
    line-height: 1.5;
    
}
h1{
    color:rebeccapurple ;
    text-align:center ;
    margin-top: 50px;
}
button{
    
    background-color: cyan;
    color: rgb(199, 15, 15);
    box-shadow:  0 0 5px cyan,
     0 0 35px cyan;
    border-radius: 5px
}

button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan ,
     0 0 100px cyan, 0 0 200px cyan;
   
    }


    

