.TextoFondo {
    background-color: rgb(55, 184, 235);


}


body {
    background-color: aqua;
    display: grid;
}

.btnCalcular{
    font-size: 20px;
    background-color: blue;
}
.imagen{
    background-image: url(images.jfif);
}